* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent
}

html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased
}

body,
html {
  background-color: #f4f4f4
}

a {
  text-decoration: none
}
