html {
  height: 100%;
}
body {
  min-height: 100%;
  background: #eef3f4;
}
#income_detail_nav, #income_detail_list {
  background: white;
  font-size: 0;
}
#income_detail_nav {
  border-bottom: 1px solid #f2f2f2;
}
.income_detail_nav_item {
  display: inline-block;
  font-size: .4rem;
  text-align: center;
  padding: .4rem 0;
}
.income_detail_nav_item:nth-of-type(1) {
  width: 2rem;
}
.income_detail_nav_item:nth-of-type(2) {
  width: 3rem;
}
.income_detail_nav_item:nth-of-type(3) {
  width: 3rem;
}
.income_detail_nav_item:nth-of-type(4) {
  width: 2rem;
}
